[Desktop Entry]
Name=Vox Config
Comment=Configure voice macros for vox
Exec=sdgvox config
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=GTK;Utility;
